/* Общие стили для всей страницы */
body {
    font-family: Arial, sans-serif; /* Задаем шрифт для всего текста */
    margin: 0; /* Убираем внешние отступы у body */
    padding: 10px; /* Добавляем внутренний отступ вокруг содержимого body */
    background-color: #f5f5f5; /* Цвет фона страницы */
    color: #333; /* Цвет текста */
}

/* Стили для заголовка страницы */
header {
    background-color: #007bff; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста в заголовке */
    padding: 20px; /* Внутренний отступ в заголовке */
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для основного содержимого страницы */
.content {
    max-width: 600px; /* Максимальная ширина контейнера с содержимым */
    margin: 20px auto; /* Внешние отступы сверху и снизу, автоматическое центрирование */
    padding: 20px; /* Внутренний отступ вокруг содержимого */
    background-color: #fff; /* Цвет фона содержимого */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Тень вокруг контейнера*/
}

/* Стили для упорядоченного списка (опыт работы) */
ol {
    list-style-type: none; /* Убираем стандартные маркеры для упорядоченного списка */
    padding: 0; /* Убираем внутренний отступ у списка */
}

/* Стили для ссылок */
a {
    color: #007bff; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем стандартное подчеркивание у ссылок */
    font-weight: bold; /* Делаем текст ссылки полужирным */
}
.links img{
    width: 20px;
    height: 20px;
}

/* Стили для наведения на ссылку */
a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении на ссылку */
}
